* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --bg-primary: hsl(218, 17%, 62%, 1);
  --bg-secundary: hsl(233, 100%, 97%, 1);
  --bg-h1: hsl(275, 18%, 79%, 1);
  --bg-h2: hsl(312, 91%, 96%, 1);

  --fc-primary: hsl(0, 0%, 100%, 1);
  --fc-secundary: hsl(274, 84%, 12%, 1);
  --fc-terciary: hsl(232, 17%, 35%, 1);

  --fs-body: 1.6rem;
}

body {
  font-family: var(--ff-heading);
  background-color: var(--bg-secundary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
  text-align: center;
}

body::before {
  content: '';
  position: absolute;
  height: 29rem;
  width: 100vw;
  background-color: var(--bg-primary);
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  margin-inline: auto;
  padding-top: 3.2rem;
}

header img {
  width: 13.7rem;
  margin-bottom: 4rem;

  animation: topdown 800ms 200ms backwards;
}

header h1 {
  background-color: var(--bg-h1);
  font-family: var(--ff-heading);

  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  padding-block: 8px;
  color: var(--ff-heading);
  letter-spacing: 0.05em;

  animation: topdown 800ms 200ms backwards;
}

header p {
  font-family: var(--ff-texting);
  color: var(--fc-secundary);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  margin: 6rem auto;
  max-width: 32rem;
  padding-inline: 0.5rem;
  height: 7.5rem;

  animation: downtop 800ms 200ms backwards;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 34rem;
  margin: 6rem auto;
  padding-inline: 1rem;
}

.card {
  position: relative;
}

.card img {
  border-radius: 2rem;
  width: 100%;
  animation: downtop 800ms 200ms backwards;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
  cursor: pointer;
}

.card:nth-child(odd) img {
  height: 25rem;
  object-fit: cover;
}

.card:nth-child(even) img {
  height: 45rem;
  object-fit: cover;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1rem;

  font-family: var(--ff-heading);
  color: var(--fc-terciary);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  animation: topdown 800ms 200ms backwards;
}

.card h2 span {
  background-color: var(--bg-h2);
  border-radius: 2rem;
  padding: 0 2.3rem;
}

#paleta,
#picole {
  display: none;
}

footer {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--fc-terciary);
  margin-bottom: 4.6rem;
  display: none;

  animation: topdown 800ms 200ms backwards;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  font-family: var(--ff-heading);
  color: var(--fc-terciary);
  background-color: var(--bg-h2);
  border-radius: 4rem;
}
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 520px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B' 'D B' 'D C';
    width: 100%;
    gap: 2.5rem;
    padding-inline: 5rem;
  }

  section .card:nth-of-type(1) {
    grid-area: A;
  }
  section .card:nth-of-type(2) {
    grid-area: B;
  }
  section .card:nth-of-type(3) {
    grid-area: C;
  }
  section .card:nth-of-type(4) {
    grid-area: D;
  }
}

@media (min-width: 800px) {
  .page {
    display: flex;
  }
  body::before {
    display: none;
  }

  body {
    display: flex;
  }

  header {
    background-color: var(--bg-primary);
    width: 40%;
  }

  header p {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--fc-primary);
    padding-inline: 2rem;
    height: 100vh;
  }

  section {
    display: grid;
    grid-template-areas: 'A B' 'D B' 'D C';
    margin-bottom: 4rem;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  footer {
    display: inline;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1000px) {
  .page {
    display: flex;
  }
  #paleta,
  #picole {
    display: block;
  }

  section .card:nth-of-type(5) {
    grid-area: E;
  }
  section .card:nth-of-type(6) {
    grid-area: F;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'A B E' 'D B F' 'D C F';
  }
}
